span
{
    text-align: center;
}

img.game
{
    border: none;
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    max-height: 80px;
}

table
{
    
}

tr {
    
}

td
{
    
}